/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/

p{
	font-family: "Source Sans 3", sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: whitesmoke;
	text-shadow: 3px 3px 3px rgb(34, 34, 34);
}

h1{
	font-family: "Raleway", sans-serif;
	font-size: 28px;
	font-weight: 800;
	color: whitesmoke;
	text-shadow: 3px 3px 3px rgb(34, 34, 34);
}

h2{
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 800;
	color: whitesmoke;
	text-shadow: 3px 3px 3px rgb(34, 34, 34);
}

section{
	padding: 10px;
	max-width: 350px;
	margin: 1px;
}

footer{
	padding: 10px;
	max-width: 350px;
	min-height: 200px;
}


.paticka p{
	text-shadow: none;
}

.orechy{
	background-image: url(images/salat.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 200px;
}

.avokado{
	background-image: url(images/chlebicek.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 90px;
}

.tacos{
	background-image: url(images/tacos.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 90px;
}

.cizrna{
	background-image: url(images/cizrna.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 90px;
}

.burger{
	background-image: url(images/burger.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 90px;
}

.menu{
	display: flex;
	justify-content: space-between;
}
